@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<b><i>Задача:</i></b>
<p>Написать Админскую часть для работы с базой данных городской библиотеки.</p>
<br />
<b>
    <i>
        БД:
    </i>
</b>
<p>
    Авторы, Книги, Издательства, Книжные серии<br />
    Можно расширять имеющиеся таблицы своими, если таковые понадобятся.
</p>
<br />
<b>
    <i>
        Основной функционал:
    </i>
</b>
<p>
    CRUD: Авторов, Книг, Серий<br />
    Возможность просмотра информации по Авторам, Книгам, Издательствам, Сериям<br />
    Сделать поиск по Книгам, Авторам
</p>
<br />
<b><i>Для выполнения задания можно использовать:</i></b>
<p>
    - ASP.NET (MVC)<br />
    -.NET(Model, Controller) + HTML5+ JS(AJAX)<br />
    - MS SQL(желательно EF:CF) или Другую реляционную БД (MySQL, PgSQL, SQLite)

</p>
